# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.env
*.egg-info/
dist/
build/

# Static & Media
staticfiles/
media/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
